@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  z-index: 9;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  border-bottom: 2px solid;
  border-color: #FAFAFA;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 5rem;
  background-color: #fafafa;
  z-index: 10;
  top: 0;
}

.smallContainer {
  float: right;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fafafa;
}

.smallContainer2 {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 0.5rem;
  background-color: #fafafa;
}

.nav{
  float: left;
  list-style: none;
  width: 45%;
}

.nav li{
  float: left;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
  font-size: .9rem;
}

.nav a{
  line-height: 40px;
  padding: 0 15px;
  text-decoration: none;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
  font-size: .9rem;
}

.linkLabel {
  padding-right: 15px;
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
  color: #8ae52e;
  font-family: 'GmarketSansMedium';
}

.welcomeLabel {
  font-size: .8rem;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
}

.logButton {
  border-radius: 25px;
  width: 104px;
  height: 40px;
  background-color: #8ae52e;
  color: #454545;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 #56776C;
  padding: 0 0.75rem;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
  font-size: .8rem;
}
.logButton:active {
  box-shadow: 1px 1px 0 #56776C;
  position: relative;
  top:2px;
}

.regiButton {
  font-size: .8rem;
  border-radius: 25px;
  width: 104px;
  height: 40px;
  background-color: #8ae52e;
  color: #454545;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 #56776C;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
}
.regiButton:actvie {
  box-shadow: 1px 1px 0 #56776C;
  position: relative;
  top:2px;
}

.notiCircle {
  position: absolute;
  font-size: 0.8rem;
  color: white;
  background-color: #fa7070;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  top: -0.25rem;
  right: 0;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profileDropdown {
  z-index: 10;
  position: absolute;
  top: 50px;
  width: 100px;
  background-color: #f8f8f8;
  padding: 0.3rem 0;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.profileDropItem {
  padding: 0.4rem 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  font-size: .8rem;
  font-weight: 300;
  font-family: 'GmarketSansMedium';
}
.profileDropItem:hover {
  opacity: 0.6;
}

.dropClose {
  transition: all 0.2s linear 0s;
  visibility: hidden;
  animation: fadeOut 0.2s;
}
.dropOpen {
  visibility: visible;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.profile {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border: 1px solid #555555;
}
