@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.myhappiness {
    display: flex;
    padding: 5rem 6rem;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    padding: 6rem 6rem 0rem 6rem;
}

.ranking{
    display: flex;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
}

.findLink{
    transition: transform 0.2s ease;
}
.findLink:hover{
    transform: translateY(-5px);
}

.lessonLink{
    transition: transform 0.2s ease;
}
.lessonLink:hover{
    transform: translateY(-5px);
}

.questionLink{
    transition: transform 0.2s ease;
}
.questionLink:hover{
    transform: translateY(-5px);
}

.findT{
    width: 70px;
    margin-top: 5px;
    margin-right: 190px;
}
.findtext{
    text-align: center;
    width: 70px;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
    font-size: .9rem;
}

.question{
    width: 70px;
    height: 71px;
    
}
.qtext{
    width: 70px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
    font-size: .9rem;
}

.lesson{
    width: 70px;
    height: 70px;
    margin-right: 190px;
}
.lessontext{
    text-align: center;
    width: 70px;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
    font-size: .9rem;
}


.link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 2rem 6rem;
}