.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.8rem 6rem;
    gap: 3rem;
}

@media (max-width : 1000px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}