.smallContainer {
    border-bottom: 2px solid rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    cursor: pointer;
}
.title {
    font-size: 1.15rem;
    color: rgb(87, 87, 87);
    padding-bottom: 0.4rem;
}

.time {
    font-size: 0.83rem;
    padding-top: 0.4rem;
    color: rgb(87, 87, 87);
}

.unRead {
    background-color: rgb(253, 253, 227);
}