@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.swiperContent {
  display: flex;
  width: 100%;
  height:30%;
  justify-content: center;
  align-items: center;
  padding: 0rem 4rem;
  color: black;
  font-family: 'GmarketSansMedium';
  font-size: .9rem;
}

.medalWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.swiper {
  height: 15rem;
  width: 60rem;
  position: relative;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid #555555;
  cursor: pointer;
}

.portfolio{
  justify-content: center;
}

/* 이전 화살표 스타일 */
.swiper-button-prev {
  color: red;
}

/* 다음 화살표 스타일 */
.swiper-button-next {
  color: red;
}
