@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

.body {
  font-family: 'SUITE-Regular';
  padding: 2.8rem 6rem;
  width: 79.5%;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
}

/* Select & Search */

.topRow {
  display: flex;
  padding: 0 0 15px 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-between;
}

.menu {
  padding: 20px 0 70px 0;
}

.menu button {
  font-family: 'SUITE-Regular';
  border-radius: 7px;
  padding: 3px 5px 3px 5px;
  height: 2rem;
  width: 5rem;
}

.mainTxt{
  font-weight: 600;
}

.select {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.underline {
  width: 12.2rem;
  position: relative;
  padding: 10px;
  background-color: #d2e2c3;
  color: #333;
  display: inline-block;
  margin-top: 2px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.underline:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 30px;
  border-top: 20px solid transparent;
  border-left: 20px solid #d2e2c3;
  transform: rotate(135deg);
}

.recruitments {
  width: 10rem;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.recruitment,
.tRecruitment {
  border-radius: 25px;
  width: 104px;
  height: 40px;
  background-color: #8ae52e;
  color: #454545;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 #56776C;
}
.tRecruitment:active{
  box-shadow: 1px 1px 0 #56776C;
  position: relative;
  top:2px;
}

/* .search {
  display: inline-block;
  margin-right: 7%;
} */


.sRecruitment,
.question {
  border-radius: 25px;
  width: 104px;
  height: 40px;
  background-color: #8ae52e;
  color: #454545;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 #56776C;
}
.sRecruitment:active{
  box-shadow: 1px 1px 0 #56776C;
  position: relative;
  top:2px;
}
.question:active{
  box-shadow: 1px 1px 0 #56776C;
  position: relative;
  top:2px;
}

.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center;
}

.search select {
  border-radius: 20px;
  width: 80px;
  height: 40px;
  background-color: #eee;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #5B8A72;
  cursor: pointer;
  outline: none;
  text-align: center;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}

.search select:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

.search select option{
  background-color: #eee;
}

.search input {
  border-radius: 25px;
  width: 15rem;
  height: 40px;
  background-color: #eee;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #5B8A72;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
.search input::placeholder{
  color: #5B8A72;
}
.search input:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

.search button {
  border-radius: 20px;
  width: 50px;
  height: 40px;
  background-color: #eee;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #5B8A72;
  cursor: pointer;
  outline: none;
  text-align: center;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
.search button:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

.searchAndMake {
  display: flex;
}

.makeBtn {
  border-radius: 25px;
  width: 104px;
  height: 40px;
  background-color: #eee;
  color: #5B8A72;
  cursor: pointer;
  outline: none;
  margin-left: 3rem;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}
.makeBtn:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

/*-------------------------------------------------------------*/

.loadingPackage {
  padding-top: 40px;
  width: 100%;
  height: 100px;
}

.loadingImg {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}

.loading {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
}

.upCircle {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
