.container {
    width: 1508px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.studyBox {
    border: solid 1px;
    border-radius: 7px;
    width: 360px;
    height: 360px;
    padding: 20px;
}

#heart {
    width: 25px;
    height: 25px;
}

.reaction {
    width: 81px;
    display: inline-block;
    float: right;
}

.view {
    width: 25px;
    height: 25px;
}

.comment {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.studyTitle {
    margin-bottom: 50px;
    margin-top: 50px;
}

.tagPackage {
    margin-bottom: 20px;
    height: 140px;
}

.studyTag {
    border: none;
    background-color: rgb(205, 231, 255);
    border-radius: 7px;
    text-align: center;
    padding: 1px 7px 1px 7px;
}