.studyBox {
  display: inline-block;
  /* border: 1.5px solid #8AE52E; */
  /* border-radius: 7px; */
  width: 90%; /*w: 300(19.3rem), h: 230(15rem)*/
  height: 18rem;
  padding: 0.7rem;
  margin: 0 auto 0 auto;
}

.heart {
  width: 25px;
  height: 25px;
  position: absolute;
}

.studyTitle {
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-block;
}

.tagPackage {
  height: 35%;
}

.studyTag {
  border: none;
  display: inline-block;
  background-color: #8AE52E;
  border-radius: 7px;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.7rem 0.6rem 0;
}

.reaction {
  display: flex;
  float: right;
}

.view {
  width: 25px;
  height: 25px;
}

.comment {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.questionBoxWrapper {
  padding: 2px;
  position: relative;
  display: flex;
  border: 1.5px solid #8AE52E;
  border-radius: 7px;
  background-color: #F4F9F4;
}