.banner h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
}

.banner h6 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.banner {
  color: white;
  background: url('C:\Users\chlrh\2023캡스톤\2023Capstone\2023-capstone\src\images\shutterstock_1918650986.jpg') top left/cover no-repeat,  rgba(0, 0, 0, 0.5);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  background-blend-mode: multiply;
}

.searchAndMake {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 200px;
}

.search {
  display: flex;
}

.search input{
    display:block;
    width:26rem;
    margin:4.5rem 1rem 2rem;
    border:0;
    font-size:1.2rem;
    padding:.75rem 1rem;
    border-radius:3px;
    box-shadow:0 1px 2px #aaa;
    transition:.5s, margin-bottom .15s;
    color: black;
    font-weight: 300;
    font-size: .9rem;
}

.search select{
    display:block;
    width:6rem;
    margin:4.5rem 0 2rem;
    border:0;
    font-size:1.2rem;
    padding:.75rem 1rem;
    border-radius:3px;
    box-shadow:0 1px 2px #aaa;
    transition:.5s, margin-bottom .15s;
    color: black;
    font-weight: 300;
    font-size: .9rem;
}

.search button{
    background-color: #8ae52e;
    width:6rem;
    margin:4.5rem 0 2rem;
    border:0;
    font-size:1.2rem;
    padding:.75rem 1rem;
    border-radius:3px;
    box-shadow:0 1px 2px #aaa;
    transition:.5s, margin-bottom .15s;
    font-weight: 300;
    font-size: .9rem;

}
