.chatContainer {
  background: "white";
  display: flex;
  flex-direction: column;

  height: 100%;
  top: 0;
  z-index: 10;
  right: 0;
  border: 1px solid rgb(219, 219, 219);
}

.chatDivContainer {
  display: flex;
  justify-content: center;
}

.chatDiv {
  font-weight: 800;
  font-size: 20px;
  padding: 10px 0px;
}

.chatBox {
  height: 90px;
  width: 100%;
  background: rgb(219, 219, 219);
  padding: 0.05rem;
}

.chatBox2 {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatText {
  width: 100%;
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.chatTextArea {
  padding: 10px 10px;
  width: 275px;
  background: transparent;
  height: 100%;
  border: none;
  white-space: pre-wrap;
  resize: none;
  border-width: 0;
}

.buttonBox {
  display: flex;
  margin-left: auto;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #8ae52e;
  font-weight: 600;
}

.buttonWrapper {
  background-color: white;
  display: flex;
  height: 90px;
  width: 75%;
  position: fixed;
  bottom: 0;
  border: 1px solid rgb(219, 219, 219);
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.camearButton {
  background-color: #8ae52e;
  height: 60%;
  border-radius: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mikeButton {
  background-color: #8ae52e;
  height: 60%;
  border-radius: 100%;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeButton {
  background-color: #8ae52e;
  height: 60%;
  border-radius: 100%;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalClose {
  transition: visibility 0.2s ease-out;
  visibility: hidden;
  animation: fadeOut 0.2s;
}
.ModalOpen {
  visibility: visible;
  animation: fadeIn 0.2s;
}

.camearButton:hover {
  filter: brightness(0.95);
}

.mikeButton:hover {
  filter: brightness(0.95);
}

.timeButton:hover {
  filter: brightness(0.95);
}

.buttonBox:hover {
  filter: brightness(0.95);
}

.chatTextArea:focus {
  outline: none;
  border-color: #8ae52e;
  box-shadow: 0 0 3px #8ae52e;
}

.chatBg {
  background-color: #f7f7f7;
}

.offStyle {
  background-color: rgb(241, 53, 53);
}

.closeCam {
  background-color: rgb(241, 53, 53);
  height: 60%;
  border-radius: 100%;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeCam:hover {
  filter: brightness(0.95);
}
