@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.MyCalendar{
margin-left: 20%;
}

.react-calendar {
  width: 850px;
  height: 560px;
  max-width: 100%;
  background: #F0EBE3;
  border: 1px solid #D0C9C0;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e0e0e0;
  margin: 100px;
  margin-top: 30px;
  margin-left: 200px;
  font-family: 'Cafe24SsurroundAir';
  font-size: 15px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  margin: 50px;
  margin-bottom: 50px;
}
.react-calendar__navigation button {
  min-width: 100px;
  background: none;
  font-family: 'Cafe24SsurroundAir';
  font-size: 15px;
}
.react-calendar__navigation button:disabled {
  background-color: #D0C9C0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #D0C9C0;
  border-radius: 10px;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 0.85em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #AA5656;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #CDC9C3;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  position: relative;
  max-width: 100%;
  background: #F0EBE3;
  text-align: start;
  line-height: 16px;
  width: 50px;
  height: 65px;
  font-size: 12px;
  font-family: 'Cafe24SsurroundAir';
  border-right: 1px;
}
.react-calendar__tile:disabled {
  background: #F0EBE3;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #D0C9C0;
}
.react-calendar__tile--now {
  background: #DFD3C3;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #DFD3C3;
}
.react-calendar__tile--hasActive {
  background: #D7C0AE;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #D7C0AE;
}
.react-calendar__tile--active {
  background: #B7C4CF;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #D7C0AE;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #E6BA95;
}

  .Modal{
    position: absolute;
    width: 350px;
    height: 350px;
    padding: 40px;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  }

.Overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

  .ModalButton{
    display: inline-block;
    background: none;
    border: none;
    top: 15px;
    right: 15px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;

}

.scheduleName{
  font-family: 'Cafe24SsurroundAir';
}

.schedlueContents{
  font-family: 'Cafe24SsurroundAir';
}

.showSchedule{
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  background-color: #ABC4AA;
  margin-top: 0.8px;
}

  .showRoomSchedule{
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    background-color: #6096B4;
    margin-top: 0.8px;
  }

.input{
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Cafe24SsurroundAir';
  font-size: 18px;
  height: 30px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.input:focus{
outline: none;
}

.underline {
display: inline-block;
height: 2px;
left: 50px;
margin-top: -4px;
position: absolute;
top: 185px;
-webkit-transform: scale(0, 1);
transform: scale(0, 1);
-webkit-transition: all 0.5s linear;
transition: all 0.5s linear;
width: 202px;
}
.addSchedule{
  display: inline-block;
  font-family: 'Cafe24SsurroundAir';
}
.addBtn{
  display: inline-block;
  top:15px;
  left: 15px;
  position: absolute;
  border-radius: 5px;
  border: none;
  font-family: 'Cafe24SsurroundAir';
}

.add{
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: 'Cafe24SsurroundAir';
  margin-top: 35px;
}

.modify{
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: 'Cafe24SsurroundAir';
  margin-top: 35px;
  margin-left: 5px;
}

.delete{
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: 'Cafe24SsurroundAir';
  margin-top: 35px;
  margin-left: 5px;
}

.scheduleContents{
  display: inline-block;
  font-family: 'Cafe24SsurroundAir';
}

.Contents{
  display: inline-block;
  width: 200px;
  height: 150px;
  border:1px solid #CCC;
  font-family: 'Cafe24SsurroundAir';
}

.reviewBtn{
float: right;
margin-top: 10px;
}

.TreviewBtn{
  float: right;
  margin-top: 10px;
}

.starsub {
  background-color: #f0ae16;
  border-radius: 5px;
  border: none;
  font-family: 'Cafe24SsurroundAir';
  margin-top: 35px;
  margin-right: 50px;
  padding : 10px;
}
  

.roomListContainer {
  /* 모달 내용 스타일 */
  max-height: 200px; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.TroomListContainer {
  /* 모달 내용 스타일 */
  max-height: 200px; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.teacherroom {
  /* 모달 내용 스타일 */
  max-height: 200px; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.teacherroom1 {
  border: 2px solid rgb(85, 0, 255);
}

.teacherroom2 {
  border: 2px solid rgb(0, 255, 94);
}

.starwrite {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.highlighted {
  background-color: lightblue;
}S
.Thighlighted {
  background-color: lightblue;
}

.roomItem {
  /* 기본 스타일 */
  background-color: white;
  border: 1px solid black;
  /* 기타 스타일 */
}

.TroomItem {
  /* 기본 스타일 */
  background-color: white;
  border: 1px solid black;
  /* 기타 스타일 */
}

.roomItem:hover {
  /* 마우스가 올라갔을 때의 스타일 */
  background-color: lightblue;
  border: 2px solid red;
}

.TroomItem:hover {
  /* 마우스가 올라갔을 때의 스타일 */
  background-color: rgb(255, 255, 112);
  border: 2px solid rgb(0, 213, 68);
}