.mycalendar-container {
  margin-top: 70px;
  overflow: hidden;
}

.MyCalendar {
  margin-top: 75px;
  margin-left: 20%;
  position: relative;
}

.react-calendar {
  width: 850px;
  height: 600px;
  max-width: 100%;
  background: #f0ebe3;
  border: 1px solid #d0c9c0;
  line-height: 1.125em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e0e0e0;
  margin: 100px;
  margin-top: 30px;
  margin-left: 200px;
  font-size: 15px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  margin: 50px;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 18px;
}
.react-calendar__navigation button {
  min-width: 100px;
  background: none;
  font-size: 15px;
}
.react-calendar__navigation button:disabled {
  background-color: #d0c9c0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #ffffff;
  padding: 3px;
  border-radius: 10px;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 1.05em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #aa5656;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #cdc9c3;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  position: relative;
  max-width: 100%;
  background: #f0ebe3;
  text-align: start;
  line-height: 16px;
  width: 50px;
  height: 80px;
  font-size: 12px;
  border-right: 1px;
}
.react-calendar__tile:disabled {
  background: #f0ebe3;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #d0c9c0;
}
.react-calendar__tile--now {
  background: #dfd3c3;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #dfd3c3;
}
.react-calendar__tile--hasActive {
  background: #d7c0ae;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #d7c0ae;
}
.react-calendar__tile--active {
  background: #b7cfbc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #d7c0ae;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6ba95;
}

.Modal {
  position: absolute;
  width: 25rem;
  height: 35rem;
  padding: 10px;
  text-align: center;
  /* background-color: #ffff; */
  border-radius: 10px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  /* background-color: #FAFAFA; */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalButton {
  background: none;
  border: none;
  top: 15px;
  right: 15px;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.scheduleName {
}

.schedlueContents {
}

.showSchedule {
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  background-color: #abc4aa;
  margin-top: 0.8px;
}

.showRoomSchedule {
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  background-color: #66b460;
  margin-top: 0.8px;
  font-weight: bolder;
  padding: 1px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #555;
  box-sizing: border-box;
  font-size: 18px;
  height: 30px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.input:focus {
  outline: none;
}

.underline {
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}
.addSchedule {
}
.addBtn {
  top: 15px;
  left: 15px;
  position: absolute;
  border-radius: 5px;
  border: none;
}

.add {
  border-radius: 5px;
  border: none;
  margin-top: 35px;
}

.modify {
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  margin-left: 5px;
}

.delete {
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  margin-left: 5px;
}

.scheduleContents {
}

.Contents {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
}

.reviewBtn {
  margin-top: 50px;
  margin-left: 1175px;
}

.TreviewBtn {
  margin-left: 855px;
  margin-top: 50px;
}

.starsub {
  background-color: #f0ae16;
  border-radius: 5px;
  border: none;
  margin-top: 35px;
  margin-right: 50px;
  padding: 10px;
}

.roomListContainer {
  /* 모달 내용 스타일 */
  max-height: 300px; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.TroomListContainer {
  /* 모달 내용 스타일 */
  max-height: 300px; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.teacherroom {
  /* 모달 내용 스타일 */
  max-height: 32rem; /* 모달 내용의 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤바를 자동으로 생성 */
}

.teacherroom1 {
  border: 2px solid rgb(85, 0, 255);
}

.teacherroom2 {
  border: 2px solid rgb(0, 255, 94);
}

.starwrite {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

.highlighted {
  background-color: lightblue;
}
.Thighlighted {
  background-color: lightblue;
}

.roomItem {
  /* 기본 스타일 */
  background-color: rgb(195, 206, 191);
  border: 2px solid #c1dfc0;
  padding: 5px;
  /* 기타 스타일 */
}

.TroomItem {
  /* 기본 스타일 */
  background-color: rgb(197, 199, 213);
  border: 2px solid #aaafc4;
  padding: 5px;
  /* 기타 스타일 */
}

.roomItem:hover {
  /* 마우스가 올라갔을 때의 스타일 */
  background-color: rgb(211, 255, 191);
  border: 2px solid rgb(88, 157, 82);
}

.TroomItem:hover {
  /* 마우스가 올라갔을 때의 스타일 */
  background-color: #cbd9ff;
  border: 2px solid rgb(0, 25, 213);
}

.reviewBox {
  border: 2px solid rgb(0, 213, 68);
}



.writeReview {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.hhhh {
  font-size: 18px;
}

.sssbtn {
  margin-top: 5px;
  background-color: rgb(0, 213, 68);
  border-radius: 5px;
  padding: 3px;
  font-size: 17px;
  font-weight: bold;
}

.add {
  background-color: #abc4aa;
  padding: 4px;
}

.addadd {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  /* background-color: #e3ebe2; */

  margin-bottom: 40px;
}

.mmmdd {
  text-align: center;
  width: auto;
  background-color: white;
  margin-top: 20px;
}

.addadd2 {
  font-size: 18px;
  /*\ border-radius: 5px solid rgb(0, 213, 57); */
  /* background-color: #ABC4AA; */
  margin-bottom: 30px;
  padding: 3px;
  margin-right: 300px;

}

.writewrite {
  /* border: 2px solid rgb(0, 213, 57); */
  padding-bottom: 25px;
  padding-top: 30px;
  background-color: #FAFAFA;
  margin-top: 20px;
}

.writewrite2 {
  width: 250px;
  height: 200px;
}

.writewrite3 {
  width: 250px;
  height: 40px;
  margin-bottom: 30px;
}

.ttt {
  font-weight: bold;
  text-align: left;
  margin-left: 80px;
}

.tttt {
  font-weight: bold;
  text-align: left;
  margin-left: 80px;
}

.modify {
  background-color: #abc4aa;
  padding: 4px;
}

.delete {
  background-color: #abc4aa;
  padding: 4px;
}

.ttt2 {
  margin-bottom: 30px;
  font-size: 19px;
  width: 170px;
  margin-left: 110px;

  background-color: white;
}

.ttt4 {
  font-weight: bold;
  text-align: left;
  margin-left: 78px;
}

.ttt5 {
  font-weight: bold;
  text-align: left;
  margin-left: 78px;
  margin-top: 10px;
}

.writewrite5 {
  width: 250px;
  height: 100px;
  padding: 3px;
  margin-bottom: 10px;
}

.writewrite4 {
  width: 250px;
  height: 60px;
  padding: 3px;
  margin-bottom: 30px;
}

.sstudy {
  background-color: rgb(0, 213, 57);
  margin-right: 10px;
  padding: 4px;
  border-radius: 5px;
}
.sstudy:hover {
  background-color: rgb(46, 170, 1); /* 바뀌고자 하는 색상으로 변경해주세요 */
}

.aask {
  background-color: rgb(0, 213, 57);
  padding: 4px;
  border-radius: 5px;
}
.aask:hover {
  background-color: rgb(46, 170, 1); /* 바뀌고자 하는 색상으로 변경해주세요 */
}
