.title2 {
    margin-top: 140px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 25%;
}
.MyInfo{
    /* border: 1px solid #8AE52E; */
    background-color: /* #eceff9; */#f8fff3;
    border-radius: 30px;
    padding: 40px;
    margin-left: 25%;
    height: calc(53vh - 5rem);

  margin-top: 2%;
  display: flex;
  position: relative;
  width: 1000px;
  box-sizing: border-box;
}

.profile-wrapper {
  display: flex;
  align-items: center; /* 변경된 부분 */
  margin-right: 20px;
}

.profile-info {
  width: 160%;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 18px;
}

.Profile{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1.5px solid #7f7b7b;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-btn{
    border: none;
    border-radius: 5px;
    background-color:rgb(222, 235, 222);
    padding: 4px;
    margin-top: 10px;
    margin-left: 20%;
    

}
#ProfileImg {
  display: none;
}

.Title {
  font-size: 40px;
}

.Information {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}

.Btn{
    border : none;
    border-radius: 5px;
    margin-left : 5px;
    margin-top : 20px;
    padding: 4px;
    background-color: rgb(222, 235, 222);
}

.CBtn{
    border : none;
    border-radius: 5px;
    margin-left: 65px;
    padding: 4px;
    background-color: rgb(222, 235, 222);
    margin-bottom: 10px;
    margin-right: 10px;
}

.DBtn{
    border : none;
    margin-left: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(222, 235, 222);
    margin-bottom: 10px;
}

 

.pwd {
  text-align: left;
  margin-top: 70px;
}

.pwd2 {
  text-align: left;
  margin-top: 10px;
}

.pwd3 {
  text-align: left;
  margin-top: 10px;
}

._input2 {
  border: none;
  border-bottom: 2px solid rgb(225, 225, 225);
  box-sizing: border-box;
  padding: 7px;
  position: relative;
  top: 50%;
  width: 100%;
  margin-bottom: 20px;

  align-items: center;
}

.password-match {
  border: none;
  border-bottom: 2px solid rgb(225, 225, 225);
  box-sizing: border-box;
  padding: 7px;
  position: relative;
  top: 50%;
  width: 100%;
  margin-bottom: 7px;
  align-items: center;
}

.password-not-match {
  border: none;
  border-bottom: 2px solid rgb(225, 225, 225);
  box-sizing: border-box;
  padding: 7px;
  position: relative;
  top: 50%;
  width: 100%;
  margin-bottom: 7px;
  align-items: center;
}

.password-not-match:focus {
  border-color: #cc3636;
}
._input:focus{
    border-color:rgb(240, 255, 240);
}

._input:focus {
  border-color: #f1e0ac;
}

.nickname {
  word-spacing: 5px;
  /* margin-right: 10px;
    font-size: 20px; */
}

.changeBtn{
    border-radius: 5px;
    margin-left: 5px;
    padding: 4px;
    border: none;
    background-color: rgb(224, 233, 223);
    margin-top: 50px;

}

.change {
  display: contents;
  align-items: center;
}
.email {
  word-spacing: 5px;
}

.noLogin {
  text-align: center;
}
.infoi {
  margin-top: 20px;
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-center;
    margin-top: 30px;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin-right: 20px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 30px;
}

/* .nickname-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  } */
