@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.MyInfo{
    margin-left: 30%;
    height: calc(100vh - 5rem);
    top: 5rem;
}

.Profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #555555;
}

.Title{
    font-family: 'Cafe24SsurroundAir';
    font-size: 40px;
}

.Information{
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
    text-align: left;
    margin-left: 10%;

}

.Input{
    border: none;
    border-bottom: 2px solid rgb(225, 225, 225);
    align-items: left;
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
}

.nickname{
    word-spacing: 10px;
}

.email{
    word-spacing: 5px;
}

.submitBtn{
    text-align: right;
}

.Modify{
    margin-left: 500px;
    font-family: 'Cafe24SsurroundAir';
    width: 70px;
    height: 20px;
    background: #967E76;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

.SignOut{
    margin-left: 700px;
    font-family: 'Cafe24SsurroundAir';
    width: 70px;
    height: 20px;
    background: #967E76;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}