


.runningTime {
  margin-right: 36.8%;
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
  height: 10%;
}

.date {
  margin-right: 35%;
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
}

.number {
  margin-right: 35%;
/*   margin-left: 2.5%; */
  border-radius: 20px;
  padding: 3px;
  /* border: solid 2px black; */
}

.period {
  border-radius: 20px;
  padding: 3px;
  /* border: solid 2px black; */
}


.submitBtn {
  border-radius: 5px /* solid green; */;
  background-color: #8AE52A;
  padding: 4px;
  width: 60px;
  padding: 4px;
  margin-right: 10px;

}

.cancelBtn {
  border-radius: 5px /* solid green; */;
  background-color: #8AE52A;
  padding: 4px;
  width: 60px;
  padding: 4px;
  margin-right: 20px;
}

.submitBtn3 {
  border-radius: 5px /* solid green; */;
  background-color: #8AE52A;
  padding: 4px;
  width: 60px;
  padding: 4px;
  margin-top: 20px;
  margin-right: 10px;
}

.cancelBtn {
  border-radius: 5px /* solid green; */;
  background-color: #8ae52a;
  padding: 4px;
  width: 60px;
  padding: 4px;
  margin-right: 20px;
}

.submitBtn3 {
  border-radius: 5px /* solid green; */;
  background-color: #8ae52a;
  padding: 4px;
  width: 60px;
  padding: 4px;
  margin-top: 20px;
  margin-right: 10px;
}

.startTime_input {
  /* width: 100%; */
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
}

.tag_input {
  /*   width: 100%; */
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
}

.tag_tagindex {
  font-size: 15px;
}
/*
  .tag_Btn {
    width: 15px;
    height: 15px;
    text-align: center;
    align-items: center;
  }
  */

.estimatedAmount_input {
  /* width: 100%; */
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
  height: 10%;
  margin-right: 5px;
}

.estimatedAmount_input2 {
  /* width: 100%; */
  border-radius: 20px;
  padding: 5px;
  /* border: solid 2px black; */
  height: 10%;
  margin-right: 15px;
}

.title_tinput {
  width: 90%;
  padding: 5px;
  /* border: solid 2px rgb(0, 0, 0); */
}

.content {
  margin-top: 20px;
  width: 90%;
  margin-left: 73px;
  /* border: solid 1.6px black; */
  margin-bottom: 30px;
}
.title_tinput {
  border: 1px solid #24B422;
  border-radius: 5px;
  width: 98%;
  height: 3rem;
  padding: 1rem;
  margin: 0 1% 0 1%;
}
.cbtn {
  border: none;
  padding: 5px;
  border-radius: 200px;
  background-color: #8AE52A;
  color: white;
}

.btn {
  margin-top: 30px;
}

/* .aaa {
  margin-left: 10px;
} */

.titleInput {
  border-radius: 7px solid white;
  width: 91%;
  padding: 4px;
}

.all {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 20%;
}

.select {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}
.write_title {
  font-size: 30px;
  margin-bottom: 2rem;
  font-weight: bold;
}

.left, .right {
  display: inline-block;
  width: 50%;
  margin-left: 1%;
}

.left input, .right input, .left select {
  width: 98%;
  text-align: center;
  margin-right: 0;
  /* border: 1px solid #24B422; */
  background-color: #f8fff3;
  border-radius: 5px;
  font-weight: bolder;
  height: 3rem;
  padding: 0 1rem;
}

.left text, .right text {
  margin-bottom: 0.1rem;
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.recruit_num, .running_time, .start_date,
.start_time {
  margin-bottom: 4rem;
}

.pay {
  margin-bottom: 2rem;
}
.paypay {
  font-weight: bold;
  display: flex;
  align-items: start;
  justify-content: space-around;
  height: 5rem;
  /* border: 1px solid #24B422; */
  background-color: #f8fff3;
  border-radius: 5px;
  margin-bottom: 10px;
}



input[type="checkbox"] {
  transform: scale(0.3); 
}


label {
  justify-content: space-around
}

.choose {
    margin-top: 10px;
    width: 70%;
  }

  .ch3 {
    margin-top: 2rem;
  }

  hr {
    border: none;
    border-top: 2px solid #e5e7eb;
  }
  .title_input {
    margin-bottom: 1.5rem;
  }

  .cc {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 1% 0 1%;
    margin-bottom: 0.2rem;
  }

  .title_tinput {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    width: 98%;
    height: 3rem;
    padding: 1rem;
    margin: 0 1% 0 1%;
  }

  .content {
    width: 98%;
    margin-top: 20px;
    margin-left: 1%;
  }

  .ck.ck-editor {
    border-radius: 5px;
    border: 1px solid #c8c8c8;
  }

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 30rem;
  background-color: #c8c8c8;
}
.aaab {
  background-color: #c8c8c8;
}

.pay5 {
  margin-left: 13px;
}
.btn {
  margin: 2rem 1% 4rem 1%;
  text-align: end;
}

.submit {
  margin-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #1A8C4A;
  background-color: #1A8C4A;
  color: white;
  font-weight: bold;
  width: 4rem;
  height: 2rem;
}

.submit:hover {
  filter: brightness(0.85);
}

.cancel {
  border-radius: 5px;
  border: 1px solid #24B422;
  width: 4rem;
  height: 2rem;
}

.cancel:hover {
  filter: brightness(0.85);
}

  .tag_tagPackage {
    margin-top: 1rem;
  }

  .tag_tagindex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ccf4a1;
    border-radius: 4px;
    padding-left: 0.5rem;
  }
  
  .tag_input {
    width: 100%;
    border-radius: 20px;
    /* border: solid 2px black; */
    
  }
  
  .tag_tagindex p {
    display: inline-block;
    margin: 8px 6px 8px 8px;
  }

  .tag_Btn {
    font-weight: bold;
    width: 24px;
    height: 40px;
    border-radius: 0 3px;
    font-size: 20px;
    padding: 0 4px 0 4px;
  }

  .tag_Btn:hover {
    display: block;
    background-color: #ea5a3e;
    color: white;
    font-size: 20px;
  }
  
  .cbtn {
    border: none;
    padding: 5px;
    border-radius: 200px;
    background-color: #8AE52A;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1%;
    width: 5rem;
    height: 2.5rem;
  }

  .cbtn:hover {
    filter: brightness(0.85);
  }
  
  .falseBtn {
    border: none;
    padding: 5px;
    border-radius: 200px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1%;
    width: 5rem;
    height: 2.5rem;
  }

  .ck.ck-editor__editable {
    z-index: 0; /* or other value lower than modal */
  }
  .viewContent {
    padding: 4rem 15rem;
  }
  
  .nameLable {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .smallContainer {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    width: 850px;
    height: 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem;
  }
  
  .boxLabel {
    font-size: 19px;
    font-weight: 750;
  }
  .boxLabel2 {
    font-size: 13px;
    font-weight: 500;
  }
  
  .infoLabel {
    font-size: 23px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0.9rem;
  }
  
  .infoWrapper {
    gap: 0.9rem;
    display: flex;
    flex-direction: column;
    color: rgb(106, 106, 106);
    font-weight: 550;
  }
  
  .view {
    color: rgb(106, 106, 106);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .viewTitle {
    font-size: 20px;
    font-weight: 700;
  }
  
  .viewContents {
  }
  
  .reviewContent {
    margin-top: 50px;
  }
  
  .reviewWrapper {
    margin-top: 50px;
  }
  