@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left: 370px;
    border-bottom: 3px;
    padding: 5px;
    height: 40px;
}

.titleText{
    font-size: 20px;
    font-family: 'Cafe24SsurroundAir';
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
}

.titleInput{
    width: 88%;
    padding: 5px;
    border: none;
    border-bottom: solid 1.6px black;
    font-size: 20px;
    font-family: 'Cafe24SsurroundAir';
}

.content{
    width: 70%;
    height: 50%;
    margin-left: 370px;
}

.submitBtn{
    float: right;
    margin-right: 90px;
    margin-top: 10px;
}

.cancelBtn{
    float: right;
}