@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

.styles.choose {
    
}

.title{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left: 370px;
    border-bottom: 2px;
    padding: 5px;
    height: 40px;
}

.titleText{
    font-size: 20px;
    font-family: 'SUITE-Regular';
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
}

.titleInput{
    width: 88%;
    padding: 5px;
    border: none;
    border-bottom: solid 1.6px rgb(69, 182, 71);
    font-size: 20px;
    font-family: 'SUITE-Regular';
}

.content{
    width: 70%;
    height: 50%;
    margin-left: 370px;
}

.submitBtn{
    float: right;
    margin-right: 90px;
    margin-top: 10px;
}

.registered{
    margin-top: 20px;
    margin-left: 815px;
    font-size: 11px;
    display: flex;
    text-align: center;
}

.modifyBtn{
    margin-left: 850px;
    display: flex;
}