.profileImg {
  width: 130px;
  height: 130px;
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  position: relative;
  margin-left: 240px;
  z-index: 1;
  margin-top: -90px;
  position: absolute;
}

.profileImgBack {
  position: relative;
  display: flex;
  filter: blur(5px);
  width: 100%;
  height: 110px;
  border: 2px solid rgb(129, 129, 129);
  transform: scale(3); /* 확대 비율을 조정하세요 */
}

.name {
  font-size: 200px;
}
