@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.SideBar{
    width: 20%;
    height: calc(100vh - 50px);

    position: fixed;
    top: 50px;

    border-right: 1px solid #555555;
    background-color: #FBF7F0;

}

.SideBarWrapper{
    padding: 20px;
}

.SideBarMenu{
    margin-bottom: 2rem;
}

.SideBarTitle{
    font-size: 1.9rem;
    font-family: 'Cafe24SsurroundAir';
}

.sidBarList{
    list-style: style none;
    padding: 0.5rem;
}

.SideBarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 20px;
}

.SideBarListItem.active,
.SideBarListItem:hover{
    background-color:#B7C4CF;
}