.SideBar {
  width: 20%;
  height: calc(100vh - 5rem);

  position: fixed;
  top: 5rem;

  border-right: 2px solid rgb(225, 225, 225);
  background-color: #fbf7f0;
}

.SideBarWrapper {
  padding: 20px;
}

.SideBarMenu {
  margin-bottom: 2rem;
}

.SideBarTitle {
  margin-bottom: 50px;
  font-size: 1.9rem;
}

.SideBarList {
  list-style: none;
  padding: 0.5rem;
}

.SideBarListItem {
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}
.active,
.active:hover {
  background-color: #abc4aa;
  transform: scale(1.1);
  padding: 5px;
  cursor: pointer;
  display: flex-end;
  width: 100%;

  border-radius: 10px;
  font-size: 23px;
}
