.authInput {
  height: 3rem;
  width: 100%;
  border: 1.4px solid rgb(217, 217, 217);
  border-radius: 5px;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 0.8rem;
  box-sizing: border-box;
}

.authInput:focus {
  outline: none;
  border-color: #8ae52e;
  box-shadow: 0 0 3px #8ae52e;
}
.falseInput {
  height: 3rem;
  width: 100%;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 0.8rem;
  margin: 0.5rem 0;
}
.inputWrapper {
  width: 100%;
}
