/* .container {
    width: 1508px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
} */

.openStudyBox {
    display: inline-block;
    border: 1.5px solid rgb(189, 188, 188);
    border-radius: 7px;
    width: 19.5%; /*w: 300(19.3rem), h: 230(15rem)*/
    height: 16rem;
    padding: 10px;
    margin: 10px;
}

#heart {
    width: 25px;
    height: 25px;
}

.openStudyImg { /* div태그 */
    background-color: rgb(43, 209, 151);
    margin: 0 -10px 2px -10px;
    height: 130px;
}

.openStudyImage { /* img태그 */
    height: 130px;
    width: 100%;
    object-fit: cover;
    /*object-fit: contain;*/
}

.participants {
    float: right;
}

.roomTitle {
    margin-top: 5px;
}

.openStudyTag {
    border: none;
    display: inline-block;
    background-color: rgb(205, 231, 255);
    border-radius: 7px;
    text-align: center;
    padding: 0px 7px 0px 7px;
    margin: 0 10px 8px 0;
}