.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: brightness(0.60);
}
.closeBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.modalWrapper {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 2rem;
  z-index: 20;
  position: relative;
  padding: 2rem 1rem;
}

.btnCancle {
  height: 1.8rem;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  border: 2px solid;
  border: none;
  background-color: #89f4bc;
  color: rgb(49, 49, 49);
  cursor: pointer;
  padding: 0 0.5rem;
}

.btnCancle:hover {
  filter: brightness(0.85);
}

.btnOk {
  height: 1.8rem;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  border: 2px solid;
  border: none;
  background-color: #89f4bc;
  color: rgb(49, 49, 49);
  cursor: pointer;
  padding: 0 0.5rem;
}
.btnOk:hover {
  filter: brightness(0.85);
}
.buttonWrapper{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 0.4rem;
}
.inputStyle{
  width: 2.5rem;
  height: 1.5rem;
  margin: 0 0 0 .5rem;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 0.2rem;
  padding-left: 0.3rem;
}

.inputWrapper{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.ModalClose {
  transition: visibility 0.2s ease-out;
  visibility: hidden;
  animation: fadeOut 0.2s;
}
.ModalOpen {
  visibility: visible;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}